@import "../../../components/GlobalStyles/Colors.scss";
@import "../../../components/GlobalStyles/MediaQueries.scss";

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 0px;

    &-content {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &-left-content {
        display: flex;
        flex-direction: row;
        width: 30%;
        margin-left: 16px;


        &-logo {
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;
            text-align: center;

            a {
                text-decoration: none;
                color: var(--cool-gray-900);
            }

            @include mobile {
                display: none;
            }
        }

        &-bars {
            opacity: 0;
            display: flex;
            align-items: center;
            cursor: pointer;

            @include mobile {
                opacity: 1;
                position: absolute;
                font-size: 2rem;
                color: var(--cool-gray-900);
            }
        }
    }

    &-right-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 70%;
        margin-right: 16px;
    }

    &-actions {
        display: flex;
        justify-content: center;
        width: 32px;
        height: 32px;
        padding: 0;
        margin-right: 19.6px;
        cursor: pointer;


        &-icon {
            display: flex;
            align-items: center;
            margin: 0;
            font-size: 1.2rem;
            transition: all 0.7s ease;
            color: var(--cool-gray-900);

            &:hover {
                transform: scale(1.5);
            }
        }
    }

    &-user img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        cursor: pointer;
    }
}

.separator {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--cool-gray-200);
}